APP_NAME=devops-mini-app
APP_ENV=training-vm
APP_VERSION=1.0.0
GIT_SHA=unknown
IMAGE_TAG=latest

# التعديل هنا: غيرنا الاسم لـ myapp عشان يطابق الـ AWS والـ Workflow
APP_IMAGE=123456789012.dkr.ecr.us-east-1.amazonaws.com/myapp

APP_LOG_FILE=/var/log/devops-app/app.log
PORT=3000

POSTGRES_DB=devops_app
POSTGRES_USER=appuser
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

GRAFANA_ADMIN_USER=admin
GF_SECURITY_ADMIN_USER=admin
